apiVersion: 1

datasources:
  - name: Frontend-Prometheus
    type: prometheus
    uid: Frontend-Prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      prometheusType: Prometheus
      prometheusVersion: 2.40.0

  - name: Frontend-Loki
    type: loki
    uid: Frontend-Loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    editable: true
    jsonData:
      maxLines: 1000